/* Definindo o estilo global da página */
body {
    /*background-color: #440071;*/
    margin: 0 auto;
    padding: 0;
    font-family: Montserrat, sans-serif;
    background-image: linear-gradient(to bottom right, #1B0035, #1B0035, #50009B);
}

/* Estilo da base da página */
.base {
    display: flex;
    /*justify-content: space-between;*/
    padding: 10px;
    /*background-color: purple;*/
    height: 85px;
    background-image: linear-gradient(to right, #1B0035, #1B0035, #50009B);

}

/* Estilo do logo */
.img_logo img {
    /*margin-top: 1px;*/
    height: 120px;
    width: 145px;
    margin-left: 20px;
}

/* Estilo do botão de início */
.inicio {
    height: 40px;
    margin-top: 25px;
    margin-left: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}

.inicio:hover {
    height: 45px;
    margin-top: 25px;
    margin-left: 30px;
    padding: 10px;
    display: flex;
    align-items: center;
    color: white;
}

.inicio img {
    margin-right: 8px;
}

/* Estilo da barra de pesquisa */
.barra_pesquisa_div {
    margin-left: 250px;
    margin-top: 30px;
    width: 290px;
}

.barra_pesquisa {
    background-color: #440071;
    font-size: 22px;
    border-radius: 10px;
    padding: 5px 10px;
    width: 300px;
    border: none;
    border: 1px solid black;
}

.barra_pesquisa:hover {
    background-color: #440071;
    font-size: 22px;
    border-radius: 10px;
    padding: 5px 10px;
    width: 300px;
    border: none;
    border: 1px solid white;
}

.barra_pesquisa::placeholder {
    color: #fff;
}

/* Ícone do chat */
.icone_chat img {
    height: 30px;
    width: 30px;
    margin-top: 40px;
    margin-left: 220px;
}

.icone_chat img:hover {
    height: 32px;
    width: 32px;
    margin-top: 40px;
    margin-left: 220px;
}

/* Estilo da área de login */
.div_login {
    height: 25px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 20px;
    border: 2px solid #DAA520;
    color: #DAA520;
    font-weight: bold;
}

.div_login:hover{
    height: 25px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 40px;
    font-size: 22px;
    border: 3px solid #DAA520;
    color: white;
    font-weight: bold;
}

/* Estilo do botão de Sign Up */
.div_sigin_up {
    height: 25px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 35px;
    font-size: 20px;
    background-image: linear-gradient(to bottom, white, #DAA520, #DAA520);
    color: black;
    font-weight: bold;
}

.div_sigin_up:hover {
    height: 25px;
    margin-top: 30px;
    margin-left: 35px;
    font-size: 21px;
    background-image: linear-gradient(to bottom, white, #DAA520, #DAA520);
    color: white;
    font-weight: bold;
}

.opcoes{
    display: flex;
    /*background-color: #440071;*/
    background-image: linear-gradient(to right, #1B0035, #1B0035, #50009B);
    font-weight: lighter;
    gap: 15px;
    height: 20px;
    padding: 7px;
    font-size: 15px;
    border: 1px solid #DAA520;
    border-bottom-left-radius: 20px ;
    border-bottom-right-radius: 20px;
    color: white;
}

.opcoes div:hover{

    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}

/* Estilo das imagens centrais */
.img_central {
    width: 693px;
    margin-top: 35px;
    margin-left: 25%;
}

.img_central:hover {
    width: 693px;
    margin-top: 34px;
    margin-left: 25%;
}

.img_div {
    border-radius: 20px;
}
.img_div:hover {
    border-radius: 20px;
    border: 1px solid #DAA520;
}

/* Estilo das divs pai (para estruturação da página) */
.pai_linha {
    display: flex;
    background-color: red;
    height: 100%;
}


/* Barra lateral (menu) */
.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px; /* Barra começa fora da tela */
    background-image: linear-gradient(to bottom right, #1B0035, #1B0035, #50009B);
    padding-top: 20px;
    transition: left 0.3s;
    z-index: 1;
    border-radius: 10px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 8px 16px;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
}

.sidebar ul li a:hover {
    background-color: #50009B;
}

/* Ícone de menu (para abrir a barra lateral) */
.menu-icon {
    font-size: 30px;
    position: fixed;
    top: 20px;
    left: 20px;
    cursor: pointer;
    color: white;
    z-index: 2;
}

/* Botão de fechamento da barra lateral */
.close-btn {
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: white;
}

/* Controle da barra lateral com checkbox */
.menu-toggle {
    display: none; /* O checkbox fica invisível */
}

/* Quando o checkbox estiver marcado, a barra lateral aparece */
.menu-toggle:checked + .sidebar {
    left: 0;
}

/* Quando o checkbox estiver marcado, o ícone do menu some */
.menu-toggle:checked + .sidebar + .menu-icon {
    display: none;
}

/* Estilo da categoria */
.categoria {
    font-size: 20px;
    padding: 10px;
    background-color: #1B0035;
    color: white;
    font-weight: bold;
}

/* Estilo da lista de categorias */
.pai_coluna ul {
    list-style-type: none;
    padding: 0;
}

.pai_coluna ul li {
    padding: 10px 20px;
}

.pai_coluna ul li img {
    margin-right: 10px;
}

/* Estilo para o título "Principais Recomendados" */
h4 {
    margin-top: 50px;
    margin-left: 165px;
    color: white;
    font-weight: bold;
}

h4:hover {
    text-decoration: underline;
    color: white;
    cursor: pointer;
}

/* Estilo da seção de jogos */

.prin_jogos_inicio {
    display: flex;
    gap: 25px; /* Espaçamento entre os jogos */
    flex-wrap: wrap; /* Permite que os jogos se movam para a linha seguinte quando necessário */
    justify-content: center; /* Centraliza os itens na linha */
    padding: 20px;
}

/* Estilo para cada jogo */
.jogo_1, .jogo_2, .jogo_3 {
    display: flex;
    flex-direction: column; /* Organiza a imagem e o texto em coluna */
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    margin: 10px;
    text-align: center;
    color: white;
    width: 350px; /* Define a largura fixa para todos os jogos */
    height: 450px; /* Define a altura fixa para todos os jogos */
}

/* Imagem do jogo */
.jogo_1 img, .jogo_2 img, .jogo_3 img {
    width: 100%; /* Faz com que a imagem ocupe 100% do espaço disponível no container */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 200px; /* Define a altura máxima para as imagens */
    object-fit: cover; /* Faz com que a imagem cubra o espaço sem distorcer, cortando se necessário */
    border-radius: 15px; /* Bordas arredondadas nas imagens */
}

/* Estilo para o título do jogo */
.jogo_1 p, .jogo_2 p, .jogo_3 p {
    font-size: 18px;
    margin-top: 10px; /* Espaço entre a imagem e o texto */
    font-weight: bold;
}

.jogo_1 p:hover, .jogo_2 p:hover, .jogo_3 p:hover {
    font-size: 18px;
    margin-top: 10px; /* Espaço entre a imagem e o texto */
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}


.div_cadastro{
    background-color: white;
    width: 375px;
    display: flex;
    padding: 10px;
    margin-top: 15%;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    height: 450px;
    background-image: linear-gradient(to bottom, #1B0035, #1B0035,#1B0035,#1B0035,#1B0035,#1B0035,#1B0035,#2c0154, #DAA520);
}



.pai_login{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #350069, #2c0059, #1B0035);
    padding-bottom: 100px;
}




.digite_nome{
    border-radius: 15px;
    background-color: #2A0052;
    font-size: 18px;
    padding: 8px;
    width: 210px;
    height: 20px;
    border: 2px solid #1B0035;
    margin-bottom: 10px;
    color: white;
    cursor: pointer;

}



.digite_email{
    border-radius: 15px;
    background-color: #2A0052;
    font-size: 18px;
    padding: 8px;
    width: 210px;
    height: 20px;
    border: 2px solid #1B0035;
    margin-bottom: 10px;
    cursor: pointer;
    color: white;


}

.digite_senha{
    border-radius: 15px;
    background-color: #2A0052;
    font-size: 18px;
    padding: 8px;
    width: 210px;
    height: 20px;
    border: 2px solid #1B0035;
    margin-bottom: 25px;
    cursor: pointer;
    color: white;

}



.botao_login{
    width: 180px;
    height: 38px;
    border-radius: 10px;
    margin-left: 38px;
    background-color: black;
    color: white;
    font-size: 18px;
    font-family: Montserrat;
    font-weight: bold;
    border: black;
    cursor: pointer;
}

.botao_login:hover{
    border: 1px solid white;
}

.esqueci_a_senha{
    cursor: pointer;
    font-weight: lighter;
    font-size: 12px;
}
.esqueci_a_senha:hover{
    text-decoration: underline;
}

.icones_login{
    display: flex;
    gap: 28px;
    justify-content: center;
    margin-top: 25px;
}

.icones_login div:hover{
    cursor: pointer;
}

a{
    text-decoration: none;
    color: white;
}

.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
