<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InterGames</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/Home.css">
</head>
<body>

<!-- Checkbox escondido para controlar a barra lateral -->
<input type="checkbox" id="menu-toggle" class="menu-toggle">

<!-- Barra lateral -->
<div class="sidebar">
    <label for="menu-toggle" class="close-btn">X</label>
    <ul>
        <li><a href="#">Início</a></li>
        <li><img src="../static/joystick.png" height="20px" width="20px"/><a href="#">Ação</a></li>
        <li><img src="../static/game.png" height="20px" width="20px"/> <a href="#">RPG</a></li>
        <li><img src="../static/estrategia.png" height="20px" width="20px"/> <a href="#">Estratégia</a></li>
        <li><img src="../static/rosa-dos-ventos.png" height="20px" width="20px"/><a href="#">Aventura</a></li>
        <li><img src="../static/luvas-de-boxe.png" height="20px" width="20px"/><a href="#">Luta</a></li>
    </ul>
</div>

<!-- Ícone para abrir a barra lateral -->
<label for="menu-toggle" class="menu-icon">☰</label>

<div class="base">
    <div class="img_logo">
        <img src="../static/logo.png" height="px" width="1px"/>
    </div>
    <div class="inicio">
        <img src="../static/sem fundo.png" height="30px" width="30px"/>
        <p class="text_inicio">Início</p>
    </div>
    <div class="barra_pesquisa_div">
        <input type="text" placeholder="🔎 Pesquise..." class="barra_pesquisa">
    </div>
    <div class="icone_chat">
        <img src="../static/chat.png" height="30px" width="30px"/>
    </div>
    <div class="div_login">
        <a href="login.html">Login</a>
    </div>
    <div class="div_sigin_up">
        Sign Up
    </div>
</div>

<div class="opcoes">
    <div>Jogos</div>

    <div>Amigos</div>
    <div>Compras</div>
    <div>Ofertas</div>
    <div>Mercado</div>
</div>

<div class="img_central">
    <img class="img_div" src="../static/imagem_central.png" height="380px" width="690px"/>
</div>

<h4>Principais Recomendados</h4>

<div class="prin_jogos_inicio">
    <!--    <div class="pai_jogos">-->
    <div class="jogo_1">
        <img src="../static/download.jpg" height="40%" width="40%"/>
        <p>Horizon Zero Dawn</p>
    </div>
    <div class="jogo_2">
        <img src="../static/download (1).jpg" height="30" width="30%"/>
        <p>Spider-Man</p>
    </div>
    <div class="jogo_3">
        <img src="../static/the_last_of_us.jpg" height="30%" width="30%"/>
        <p>The Last Of Us</p>
    </div>
    <!--    </div>-->
</div>

</body>
</html>
