<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>InterGames</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="../static/Home.css">
</head>
<body class="body_login">
<div class="pai_login">


<div class="div_cadastro">
    <div class="logo_login">
        <img src="../static/logo.png" height="110" width="150px"/>
    </div>
    <div class="lista_cadastro">
        <form>
            <label for="nome"><img src="../static/user.png" height="22px" width="22px"/></label>
            <input type="text" id="nome" placeholder="Digite seu Nome" class="digite_nome" required><br>
            <label for="email"><img src="../static/email.png" height="22px" width="22px"/></label>
            <input type="email" id="email" placeholder="digiteseuemail@aqui.com" class="digite_email" required><br>
            <label for="senha"><img src="../static/padlock.png" height="22px" width="22px"/></label>
            <input type="password" id="senha" placeholder="Password" class="digite_senha" required><br>
            <button class="botao_login" type='submit'>Login</button>
            <p class="esqueci_a_senha">Esqueci a senha</p>
        </form>
        <div class="icones_login">
            <div><img src="../static/google.png" height="26px" width="26px"/></div>
            <div><img src="../static/apple.png" height="26px" width="26px"/></div>
            <div><img src="../static/facebook.png" height="26px" width="26px"/></div>
        </div>
    </div>

</div>
</div>
<div>
    <div></div>
</div>
</body>
</html>